.actionGrid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.actionLeftColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.actionRightColumn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clearButton {
    margin-right: 2px;
}

